.columns {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.rows {
  display: flex;
  flex-direction: row;
}

.board {
  font-size: medium;
}

.border{
  border: 2px solid black;
  border-radius: 5px;
}

.deck {
  height: 176px;
  width: 126px;
}

.card {
  height: 176px;
  width: 126px;
}