.columns {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.rows {
  display: flex;
  flex-direction: row;
}

.board {
  font-size: medium;
}

.border{
  border: 2px solid black;
  border-radius: 5px;
}

.card {
  height: 352px;
  width: 252px;
}