.columns {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.rows {
  display: flex;
  flex-direction: row;
}

.hand {
  flex-wrap: wrap;
}

.board {
  font-size: medium;
}

.border{
  border: 2px solid black;
  border-radius: 5px;
}

.card {
  height: 352px;
  width: 252px;
  font-size: x-large;
  text-align: center;
}

.deck {
  height: 352px;
  width: 252px;
  font-size: x-large;
  text-align: center;
}